.selector-for-some-widget {
    box-sizing: content-box;
}
.centered {
    text-align: center;
}

#imgme {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block; /* Ensures the images are centered properly */
    margin: auto; /* Centers the images horizontally within the container */
    margin-bottom: 20px; /* Add margin at the bottom to create vertical spacing between the images */
    width: 500px; /* Set the desired width for the images */
    height: 600px; /* Set the desired height for the images */
}

#bigimg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block; /* Ensures the images are centered properly */
    margin: auto; /* Centers the images horizontally within the container */

    width: 500px; /* Set the desired width for the images */
    height: 600px; /* Set the desired height for the images */
}
#pinm {
    margin-top: 20px;
}
#squiz {
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 400%;
}
#links {
    margin-top: -5px;
    margin-bottom: -10px;
    color: white;
}
#headlineone {
    margin-top: -4%;
    font-size: 200%;
}
#headlinetwo {
    margin-top: -3%;
    font-size: 200%;
}

body {
    background-image: url('bimg5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1, h2, h3, p {
    color: #AD343E;
}
a:link.nav-link {
    color: #AD343E;
    background-color: transparent;
    text-decoration: none;
}
a:visited.nav-link {
    color: #AD343E;
    background-color: transparent;
    text-decoration: none;
}
a:hover.nav-link {
    color: #F5F5DC;
    background-color: transparent;
    text-decoration: underline;
}


a:link.footer-link {
    color: #AD343E;
    background-color: transparent;
    text-decoration: none;
}
a:visited.footer-link {
    color: #AD343E;
    background-color: transparent;
    text-decoration: none;
}
a:hover.footer-link {
    color: #F5F5DC;
    background-color: transparent;
    text-decoration: underline;
}
