{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h2>Get a stock Quote</h2>
    <form action="/quote" method="POST">
        <label for="symbol">Symbol</label>
        <input autocomplete="off" autofocus type="text" name="symbol" placeholder="Input a stock's symbol">
        <button type="submit">Find stock</button>
    </form>
    {% if quote %}
        <h3>{{ quote['name'] }} {{{ quote['symbol'] }}}</h3>
        <p>Price: {{ quote['price']|usd }}</p>
    {% endif %}
{% endblock %}