{% extends 'base.html'%}
{% block title %}
    About
{% endblock %}

{% block content %}

    <div class="container">
        <h2 id="about">About</h2>
        <p>Hello! My name is Atabek. I am a software engineer student at Halic University. I used to love playing video games, but later I came to the realization that it was a waste of time, so I decided to replace it with programming.</p>
        <img src="{{ url_for('static', filename='imgme.jpg') }}" alt="me" class="imgme">
        <p>I am from deep province of Kyrgyzstan. A village called "Karavan". After finishing high school moved to Istanbul and currently living here. Connect with me on <a href="https://www.instagram.com/iamatabek/?hl=en">Instagram</a> and <a href="https://www.linkedin.com/in/atabek-aribzhanov-17b7b0205/">Linkedin</a></p>
        <p>Hope you will find something interesting here.</p>
    </div>
{% endblock %}